/node_modules/
/public/build/
/public/build.txt
/public/index.html
/public/manifest.webmanifest
/public/service-worker.js
/public/service-worker.js.map

.DS_Store

.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
